<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086505091023-k736n9tckvk627066dqskg0u6vnetcta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086505091023-k736n9tckvk627066dqskg0u6vnetcta</string>
	<key>API_KEY</key>
	<string>AIzaSyCSEpxR7qadIE6ytT-NPflAMF4K_pV2YxI</string>
	<key>GCM_SENDER_ID</key>
	<string>1086505091023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttertemplates.templates.quotesSharingApp</string>
	<key>PROJECT_ID</key>
	<string>template-sample-24e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>template-sample-24e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086505091023:ios:56bc7a1e7e057c6e</string>
	<key>DATABASE_URL</key>
	<string>https://template-sample-24e0b.firebaseio.com</string>
</dict>
</plist>